[submodule "Lud-WS-Display"]
	path = Lud-WS-Display
	url = https://github.com/ludus108/Lud-WS-Display
[submodule "Lud-WS-Router"]
	path = Lud-WS-Router
	url = https://github.com/ludus108/Lud-WS-Router
[submodule "Lud-WS-Ctrl"]
	path = Lud-WS-Ctrl
	url = https://github.com/ludus108/Lud-WS-Ctrl
[submodule "Lud-WS-Mod"]
	path = Lud-WS-Mod
	url = https://github.com/ludus108/Lud-WS-Mod
